#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: "Space Grotesk", "Outfit", sans-serif;
}

.frame {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
  align-items: center;
}

.col {
  flex: 50%;
}

/* Nav Bar */

.topnav {
  overflow: hidden;
  z-index: 0;
  background-color: #333;
  display: block;
  position: sticky;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  transition: ease-out 0.5s;
}

.topnav a.active {
  background-color: #04aa6d;
  color: white;
}

.navSocial {
  float: right;
  padding-right: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.navSocial a {
  padding: 10px 16px 0px 16px;
  background-color: #333;
  align-items: center;
  text-align: center;
  overflow: hidden;
  transition: 0.5s;
}

.navSocial span {
  opacity: 0;
  position: absolute;
  font-size: 1.1em;
  letter-spacing: 0.01em;
  margin-left: 10px;
  color: black;
}

.navSocial a:hover {
  background-color: #ddd;
  color: black;
  width: 120px;
  transition: ease-out 0.1s;
  text-align: left;
}

.navSocial a:hover span {
  opacity: 1;
}

.navName {
  float: left;
}

.navName a {
  padding: 14px 16px;
}

.icon {
  font-size: 36px;
}

/* bio */

.profilePic {
  max-width: 400px;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  right: 10%;
  z-index: -1;
}

.introBlock {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.greet {
  text-align: center;
}

.bio {
  text-align: left;
}

.contact {
  background-color: #04aa6d;
  padding: 12px 15px;
  border-radius: 0;
  text-decoration: none;
  color: white;

  &:hover {
    color: grey;
  }
}

.center {
  display: flex;
  justify-content: center;
}

/* experience and projects */

.exp {
  justify-content: space-around;
}

.projectHead {
  justify-content: space-between;
}

.project {
  justify-content: space-evenly;
  margin: 20px 0 20px 0;
}

.pic {
  position: relative;
}

.projPic {
  max-width: 400px;
  opacity: 1;
  display: block;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
  z-index: -1;
  border-radius: 10px;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translate(1%, -375%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  justify-content: center;
}

.pic:hover .projPic {
  opacity: 0.3;
}

.pic:hover .middle {
  opacity: 1;
}

.text {
  background-color: #04aa6d;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

/* contact form */

input[type="text"],
input[type="email"],
select,
textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
  background-color: #242424;
}

input[type="submit"] {
  background-color: #04aa6d;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 0;
  cursor: pointer;
  &:hover {
    background-color: lavender;
    color: black;
  }
}

.container {
  border-radius: 5px;
  background-color: #333;
  padding: 20px;
}

button {
  border-radius: 0;
}
